@import '../../assets/styles/mixins.scss';

.cardContainer {
  @include set-flex;
  justify-content: space-evenly;
  text-align: left;
  flex-direction: column;
}
.heading {
  font-weight: 100;
  letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
  .cardContainer {
    flex-direction: row;
  }
}
