@import '../../../assets/styles/mixins.scss';
@import '../../../assets/styles/variables.scss';
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1000;
  @include set-flex;
  justify-content: center;
  overflow-y: hidden;
}
.modal_container {
  position: relative;
  width: 30%;
  height: 50%;
  background-color: white;
  border-radius: 10px;
  z-index: 100;
  min-width: 335px;
  margin: 0 2%;
  min-height: 350px;
  @include set-flex;
  flex-direction: column;
  justify-content: flex-start;
}
.title {
  font-size: 30px;
  margin-top: 4%;
}

.closeButton {
  border-radius: 50%;
  border: none;
  font-size: 25px;
  background-color: black;
  color: white;
  position: absolute;
  right: -14px;
  top: -14px;
  padding: 3px 12px;
}
