.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(106, 218, 106);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  left: 5px;
  height: auto;
  width: auto;
  text-align: left;
  right: 70%;
  color: black;
  padding: 5px 0;
  margin-top: 20px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
