@import '../../../assets/styles/variables.scss';
.home__section {
    color: $secondary-color;
    padding: 7% 0;
    z-index: 1;
    background-color: $secondary-color;
    &-row {
        align-items: center;
    }
    &-text-wrapper {
        max-width: 540px;
        padding-top: 0;
        padding-bottom: 60px;
    }
    &-subtitle{
         max-width: 440px;
         margin-bottom: 35px;
         font-size: 18px;
         line-height: 24px;
    }
    &-img{
        max-width: 95%;
        padding-right: 0;
        margin: 0 0 0 10px;
        &-wrapper {
            max-width: 555px;
        }
    }
}