@import '../../../assets/styles/mixins.scss';
.timerGreen {
  color: $green-color;
  font-family: sans-serif;
  font-size: 24px;
  margin-top: 15px;
}

.timerRed {
  color: $red-color;
  font-family: sans-serif;
  font-size: 24px;
  margin-top: 15px;
}
