@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables.scss';

.home {
  width: 100%;
  height: 92vh;
  position: relative;

  // background-image: url('../../assets/images/background-1.jpg');
  // background-image: linear-gradient(#ad5389, #3c1053);
  // background-image: linear-gradient(
  //   140deg,
  //   #eadedb 0%,
  //   #bc70a4 50%,
  //   #3c1053 75%
  // );
  background-image: linear-gradient(
    140deg,
    #82e4ea 23%,
    #3196b5 65%,
    #315a92 85%,
    #304385 93%,
    #311b6e 98%
  );

  background-color: $background-color;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  &__container {
    width: 100%;
    height: 100%;
    padding: 15% 5%;
    &__left {
      z-index: 10;
      position: relative;
      p {
        font-size: 1.1rem;
      }
      span {
        color: $secondary-color;
      }
      button {
        @include set-btn-style;
      }
    }

    &__right {
      display: inline-block;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .particle {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
}

@media only screen and (min-width: 768px) {
  .home {
    height: 77vh;
    &__container {
      @include set-flex;
      &__left {
        width: 50%;
        padding: 5%;
        p {
          font-size: 1.2rem;
        }
      }
      &__right {
        width: 50%;
        img {
          width: 80%;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .home {
    height: 92vh;

    &__container {
      @include set-flex;
      padding: 5% 5%;
      &__left {
        width: 50%;
        box-shadow: 7px 10px 30px;
        padding: 5%;
        text-shadow: 2px 2px 5px whitesmoke;
        &__text {
          display: flex;
          justify-content: center;
          text-shadow: 2px 2px 5px white;
          & > div {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            padding-left: 6px;
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
      &__right {
        width: 50%;
        img {
          width: 80%;
        }
      }
    }
  }
}
