@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

%hover {
  background: $navbar-hover;
  color: $secondary-color;
  transition: all 0.6s ease;
}

.dropdown {
  &-menu {
    width: 200px;
    position: absolute;
    top: 85px;
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-left: -3%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    padding-left: 0;
    border: 2px solid $primary-color;
  }

  &-premium {
    width: fit-content;
    position: absolute;
    top: 100px;
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-left: -13%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    padding-left: 0;
    border: 2px solid $primary-color;
  }
  &-link {
    font-size: 1rem;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: $primary-color;
    background: $secondary-color;
    padding: 16px;
    cursor: pointer;
    &:hover {
      @extend %hover;
    }
  }
  &-item {
    font-size: 1rem;
    display: block;
    height: 100%;
    width: 100%;
    color: $primary-color;
    background: $secondary-color;
    padding: 16px;
    font-weight: bold;
    letter-spacing: 0.2em;
    border-bottom: 1px solid #6D6D6D;
    &:hover {
      background: #FEA116;
      color: $secondary-color;
      transition: all 0.2s ease;
      font-weight: bolder;
    }
  }
}
.clicked {
  display: none;
}
