@import '../styles/variables.scss';

@mixin set-max-width() {
  margin: 0 auto;
  max-width: 100%;
}

@mixin set-link-style() {
  text-decoration: none;
  color: #707679;
  font-size: 0.9rem;
  font-weight: 600;
}
@mixin set-link-style-without-bullet() {
  @include set-link-style;
  list-style: none;
}
@mixin set-flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
