$background-color: #ffffff;
$font-color: #ffffff;
$background-secondary-color: #ffffff;

// $primary-color: #242424;
$primary-color: #000000;
$secondary-color: #fff;
$navbar-hover:#f00946;
$text-color: #f7f8fa;