$background-color: #ffffff;
$font-color: #ffffff;
$background-secondary-color: #ffffff;

// $primary-color: #242424;
$primary-color: #000000;
$secondary-color: #fff;
$error-backgound-color: #cad2d5;
$error-message-color: #900000;
$navbar-hover: #f00946;
$text-color: #f3f3f3;
$alt-color: #fea116;
$grey-background: #dbe0e6;
$btn-disabled-background: #bbb3b3;
$red-color: red;
$green-color: green;
$light-green-color: rgb(92, 184, 92);
$black-color: black;
$light-pink-color: rgb(253, 142, 142);
