@import '../../../assets/styles/variables.scss';
.home__section {
    color: $secondary-color;
    padding: 7% 0;
    z-index: 1;
    background-color: $secondary-color;
    &-row {
        align-items: center;
    }
    &-text-wrapper {
        max-width: 540px;
        padding-top: 0;
        padding-bottom: 60px;
    }
    &-subtitle{
         max-width: 440px;
         margin-bottom: 35px;
         font-size: 18px;
         line-height: 24px;
    }
    &-img{
        max-width: 95%;
        padding-right: 0;
        margin: 0 0 0 10px;
        &-wrapper {
            max-width: 555px;
        }
    }
}
.dark {
    color:$primary-color;
    &Bg {
        background-color:$primary-color;
    }
}
.row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
} 
.col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
}
.top-line{
    color: $navbar-hover;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: $text-color;
    &_dark {
        margin-bottom: 24px;
        font-size: 48px;
        line-height: 1.1;
        font-weight: 600;
        color:$primary-color;
    }

}
img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

@media screen and (max-width:991px) {
    .container {
        padding-right: 30px;
        padding-left: 30px; 
    }
}

@media screen and (max-width:768px) {
    .home__section-text-wrapper {
        padding-bottom: 65px;
    }
    .col {
        max-width: 100%;
        flex-basis: 100%;
    }
    .home__section {
        padding: 15% 0;
    }
}

